.map
{

    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}
.row {
    display: flex;
}
.cell {
    width: 60px;
    height: 60px;
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.image-container {
    width: 40px;
    height: 40px;
}
.image-container img {
    width: 40px;
    height: 40px;
}
.info
{
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}

h1
{
    text-align:center
}

.rule
{
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
}